<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Publisher="CN=Phoenix" Version="1.0.0.0" Name="DF4D1F28-642E-40AC-AB55-7182B8AD0385" />
  <Properties>
    <DisplayName>RemedyPic</DisplayName>
    <PublisherDisplayName>Konstantin Todorov</PublisherDisplayName>
    <Logo>Assets\StoreLogo2.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RemedyPic.App">
      <VisualElements DisplayName="RemedyPic" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="RemedyPic" ForegroundText="light" BackgroundColor="#00640e">
        <DefaultTile WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00640e" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.accountPictureProvider" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>