<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="4afe9811-e321-46f3-a4cd-8e5cd3fe8116" Publisher="CN=Phoenix" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Imageff_project</DisplayName>
    <PublisherDisplayName>Phoenix</PublisherDisplayName>
    <Logo>Assets\StoreLogo2.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Imageff_project.App">
      <VisualElements DisplayName="Imageff_project" Logo="Assets\Logo2.png" SmallLogo="Assets\SmallLogo2.png" Description="Imageff_project" ForegroundText="light" BackgroundColor="#510000">
        <DefaultTile WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#510000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>